:root {
--color-primary: #000;
--color-primary-light: #fff;
--color-secondary: #e4e4e4;
--color-accent: #FFA000;
--color-neutral-grey: #5c5c5c;

--fontprimary: neue-haas-grotesk-display, sans-serif;
}

html {
  font-family: var(--font-primary);
}

a {
  color: var(--color-accent);
}

a:hover,
a:focus {
  color: var(--color-primary);
  transition: all .1s linear;
}

mark {
  color: var(--color-primary);
  background-color: var(--color-accent);
}
